//Sessão de dados iniciais e boxes display
//DAQUI PARA BAIXO É NECESSARIO FAZER A RESPONSIVIDADE
@media only screen and (min-width : 720px) and (max-width : 1366px)
{
.inicialBoxes {
  position: relative;
width: 100%;

}



.dropdown {
  width:200px;
  font-size: 14px;
}

.box1 {
  border-radius: 10px;
  margin-left: 18vh;
  background-color: #FE6E9F;
  display: inline-block;
  width: 30vh;
  height: 20vh;
  margin-top: 5vh;
}

.title1 {
  padding-top:1vh;
  font-size: 24px;
  width:100%;
  display:flex;
  align-items: center;
  justify-content: center;  
  color: #186FBB;
}


.subtitle1 {
  font-size: 18px;
  color: #186FBB;
  text-align: center;
  font-weight: bold;
}


.box2 {  
  border-radius: 10px;
  margin-left: 5vh;
  background-color: #393EA0;
  display: inline-block;
  width: 30vh;
  height: 20vh;
}

.title2 {
  padding-top:1vh;
  font-size: 24px;
  width:100%;
  display:flex;
  align-items: center;
  justify-content: center;  
  color: #52C7AA;
}


.subtitle2 {
  font-size: 17px;
  color: #52C7AA;
  text-align: center;
  font-weight: bold;
}

.box3 {
  border-radius: 10px;
  margin-left: 5vh;
  background-color: #186FBB;
  display: inline-block;
  width: 30vh;
  height: 20vh;
}

.title3 {
  padding-top:1vh;
  font-size: 24px;
  width:100%;
  display:flex;
  align-items: center;
  justify-content: center;  
  color: #6AC460;
}


.subtitle3 {
  font-size: 18px;
  color: #6AC460;
  text-align: center;
  font-weight: bold;
}

.box4 {
  border-radius: 10px;
  margin-left: 5vh;
  background-color: #52C7AA;
  display: inline-block;
  width: 30vh;
  height: 20vh;
}

.title4 {
  padding-top:1vh;
  font-size: 24px;
  width:100%;
  display:flex;
  align-items: center;
  justify-content: center;
  color: #393EA0;  
}


.subtitle4 {
  font-size: 17px;
  color: #393EA0;
  text-align: center;
  font-weight: bold;
}

//Sessão de comparações rapidas de indice

.comparacao {
  margin-top: 10vh;
  margin-left: 15vh;
  margin-right: 15vh;
  height: 50vh;
  border: 3px solid rgb(214, 214, 214);
  border-radius:15px;
  position: relative;
  display: inline;
}

.containerLeft {
  margin-top: 5vh;
  margin-left: 5vh;
  margin-bottom: 5vh;
}



.containerRight {
  position: absolute ;
  bottom: 0;
  right: 0;
  display: inline;
}

.chart1{
  position: absolute ;
  bottom: 0;
  right: 25vh;
  display: inline;
  width:15vh;
}

.chart2{
  position: absolute ;
  bottom: 0;
  right: 50vh;
  display: inline;}

.chart3{position: absolute ;
  bottom: 0;
  right: 75vh;
  display: inline;}

.chart4{
  position: absolute ;
  bottom: 0;
  right: 100vh;
  display: inline;}

  .contentWrapper {
  width:140vh;
  margin-left: 15vh;
  margin-right: 15vh;
  margin-bottom: 5vh;
  height: 50vh;
  border: 3px rgb(217, 220, 223);
  border-radius:15px;
}
  
.contentTitle {
  display: inline-block;
  margin-top: 10vh;
  margin-left: 15vh;
}

.contentTitle > button {
  font-size:22px;
  right:20vh;
  bottom: 10vh;
  width: 150px;
  height: 35px;
  color: black;
  margin: auto;
  padding: 5px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  font-weight: bold;
}

.btnRelatorio {
  font-size:18px;
  position: absolute;
  right:20vh;
  bottom: 10vh;
  width: 150px;
  height: 35px;
  background-color: #0067AC;
  color: #fff;
  margin: auto;
  padding: 5px 12px;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 3px #efefef;
  cursor: pointer;
  transition: 0.5s;
  &:hover {
    background-color: #6badeb;
  }

  
}
//DAQUI PARA CIMA É NECESSARIO FAZER A RESPONSIVIDADE


  .Wrapper {
    font-family: Rubik;
    display: flex;
    flex-direction: column;
    align-items: row;
    position: relative;
    
  }
//}

.firstLine {
  margin-top: 4%;
  width:58.5%;
  display: column;
  flex-direction: column;
  margin-left: 11.5%;
}

.WrapperNav {
  z-index: 999;
  height:10%;
}

.introTxt {
  display: flex;
  flex-direction: row;
  
}

.image1{
  max-height: 300px;
  max-width: 300px;
  margin-top: 5%;
  z-index: 100;
}

.togle{
  color: black;
  background-color: #0067AC;
  display: flex;
  padding: 5px 10px 5px 10px;
  outline: gray;
  margin-left: 20%;

}
}

@media screen and (max-width: 720px) {

  .image1{
    display: none;
    max-height: 0px;
    max-width: 0px;
  }


  
}

@media screen and (max-width:600px) {

.textoo h3 {
  font-size:10px;
}

}