.navbar {
    background-color:#D70858 ;
    height:50px;
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    z-index: 999;
}



.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
    color: white;
}

.nav-menu {
    background-color:#D70858 ;
    width: 250px;
    height:100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -30vh;
    transition: 650ms;
    z-index: 999;
}

.nav-menu.active {
    left:0;
    transition: 350ms;
}

.nav-text{
    display:flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}

.nav-text a {
    text-decoration:none;
    color: white;
    font-size: 16px;
    width: 98%;
    height: 100%;
    display:flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;

}

.nav-text a:hover {
    background-color: #60a3cf;
}

.nav-menu-items {
    width:100%;
}

.navbar-tootle {
    background-color:white;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items:center;
}

span {
    margin-left: 16px;
}