.chartJWrapper {
    display:flex;
    flex-direction: row;
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.progress {
    background-color:#E5E5E5;;
    border-radius: 28px;
    height: 2vh;
    width: 18vw;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.progressTxt {
    font-weight: 600;
    font-size:0.8rem;
}

.progress-done{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 28px;
    background-color: #125ab8a1;
    height: 2vh;
    width:100px;
}

.progress-done2{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 28px;
    background-color: #A6CDE7;
    height: 2vh;
    width:100px;
    max-width: 18vw;
}

.progress-done3{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 28px;
    background-color: #7AB4DB;
    height: 2vh;
    width:100px;
    max-width: 18vw;
}

.progress-done4{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 28px;
    background-color: #DBEBF5;
    height: 2vh;
    width:100px;
    max-width: 18vw;
}

.chartJourneyTitle1 {
    margin-bottom: 1vh;
    font-size:1rem;    
    margin-top: 2vh;
}

.chartJourneyP1 {
    font-weight: 600;
    margin-top: 1.2vh;
    font-size: 0.6rem;
}

.chartJourneyP2 {
    font-weight: 600;
    font-size: 0.6rem;
}
.chartJourneyP3 {
    font-weight: 600;
    font-size: 0.6rem;
    margin-bottom: 3vh;
}

.leftData {
    margin-left:3.5vw;
    width: 35vw;
    height: 55vh;
}
.rightData {
    margin-top:4.8vh;
    width: 45vw;
    height: 55vh;
}

.chartHLegend {
    display: flex;
    align-items: center;
    justify-content: left;
}

.chartJourHoriWrapper {
    margin-top: 2vh;
}