.buttonPeople {
    background-color: white;
    height: 20px;
    padding: 0 10px;
    border-radius: 5px;
    width: 10%;
    font-size:16px;
    color: #444;
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin-left: 1vw;
}

.buttonPeople:hover {
    background-color: white;
}