.person-container {
    margin: 2px 0;
    padding: 3px 2px;
    display:flex;
    cursor: pointer;
    
}

.person-txt-container{
    margin-left: 1vw;
    display:flex;
    flex-direction: column;
    
}

.person-icon {
    color: white;
    background-color: pink;
    width:2.8vw;
    height: 6vh;
    border-radius:35px;
    display: flex; 
    justify-content:center;
    align-items: center;
}

.person-name{
    font-weight: 500;
    font-size: 0.95rem;
}

.person-position {
    font-size: 0.8rem;
    text-transform: lowercase;
    
}