.comparacao {
        display:flex;
    flex-direction:column;
}

.wrapper {
    top:21vh;
    display:flex;
    flex-direction:column;
    width: 100vw;
    height: 100vh;
}


.containerTxt {
    margin-top: 4vh;
    justify-content:start;
    top:0;
    width: 100vw;
 
}

.containerTxt > p {
    margin-left: 10vw;
    color: #B4B4B4;
    width: 100vw;

}

.containerTxt > h3 {
    margin-left: 10vw;
    color: #686868;
    width: 100vw;

}

.containerTxt > h1 {
    margin-left: 10vw;
    color: #545151;
    width: 100vw;

}

/*
AQUI ESTÃO O VISUAL REFERENTE A DIV REFERENTE A SELEÇÃO DOS PROJETOS
*/

.comp1 {
    display:flex;
    flex-direction:row;
    margin-top: 3.5vh;
    margin-left: 6vw;
    
}

.wrapperProj{
    margin-top: 2vh;
}

.dropdown {
    width: 14.5vw;
}

.jornadas{
    height:35vh;
    width: 10vw;
    /*Aqui está o conteudo do wrap*/

}

.listaProjetos2 {

overflow:auto; 
height:25vh;
margin-right: 5vh;    
width: 13vw;
  }


  .compProj {
      margin-left:7vw;
      width: 70vw;
      height: 45vh;
      display:flex;
      flex-direction:column;
  }
  
.titleComp {
    margin-left: 2.5vw;
    margin-bottom: 3vh;
}

  .charts {
    display:flex;
    flex-direction:row;
    justify-content: space-around;
  }

.chartsContent {
    
    display:flex;
    flex-direction:column;
    align-items: center;
}


.iconAndText{
    display: flex;
    align-items: space-around;
    
  }

  .iconAndText > p {
      margin-left:1vw;
  }

 