.mainWrapper {
    display:flex;
    flex-direction:column;
}

.textTitle {
    width: 60vw;
    margin-top: -6vh;
    margin-left:5.5vw;
}
.textTitle > p{
    color: rgba(0, 0, 0, 0.36);    
}
.rightBar {
    margin-left:72vw;
    margin-top:-85vh;
    width: 30vw;
    height: 80vh;
}

.partTitle {
    margin-top: 3vh;
    font-size:1rem;
    font-weight:bold;
}

.resumoJornada {
    display:flex;
    flex-direction:row;
    width: 60vw;
    height: 15vh;
    justify-content: space-around;
    align-items: center;
    margin-left: -10vw;
}

.img{
    height:10vh;
    width: 10vw;
}

.infoP {
    display:flex;
    flex-direction:column;
    justify-content: left;
    align-items: left;
    margin-left: -31vw;
}

.infoP > h1{
    margin-bottom:-1vh;
}

.titleP {
    font-weight: bold;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.36);
}



.introData {
    margin-top: 4vh;
    width: 65vw;
    height: 11vh;    
    margin-left: 2vw;
}

.introData > h3 { 
    margin-top: 2vh;
    margin-left:8vw;
}

.inferior {    
    display:flex;
    flex-direction:row;    
    justify-content: space-between;
}

.inferior > select {
    width: 13vw;
    margin-right: 4vw;
}

.inferior > p { 
    font-weight:400;
    margin-left:8vw;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.36);
}



.dataWrapper {    
    display:flex;
    flex-direction:row;
    width: 65vw;
    
    margin-top: 4vh;   
    margin-left: 2vw;
}
.data {
    margin-left:4.5vw;
    width: 70vw;
    height: 55vh;
}


.btnProj {
    display: flex;
    align-items: right;
    width: 9vw;
}
