.mainWrapper {
    display:flex;
    flex-direction:column;
}

.textTitle {
    width: 60vw;
    margin-left:10vw;
}
.textTitle > p{
    color: rgba(0, 0, 0, 0.36);    
}
.rightBar {
    margin-left:72%;
    position: relative;
    top: -80vh;
    width: 25vw;
    height: 100%;
    margin-bottom: -100%;
}

.partTitle {
    margin-top: 5%;
    font-size:1rem;
    font-weight:bold;
    width: 20vw;
}

.resumoJornada {
    display:flex;
    flex-direction:row;
    width: 58%;
    height: 20%;
    justify-content: left;
    align-items: center; 
    margin-left:10%;
    background-color: #006FB90F;
    border-radius: 20px;
    padding-top: 1%;
    padding-bottom: 5vh;
}

.imgProjetcs{
    height:10vh;
    width: 10vw;
}

.infoP {
    display:flex;
    flex-direction:column;
    justify-content: left;
    align-items: left;
}

.infoP > h1{
    font-size: 1.2rem;
}

.titleP {
    font-weight: bold;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.36);
}



.introData {
    margin-top: 4vh;
    width: 65vw;
    height: 11vh;    
    margin-left: 2vw;
}

.introData > h3 { 
    margin-top: 2vh;
    margin-left:8vw;
}

.inferior {    
    display:flex;
    flex-direction:row;    
    justify-content: space-between;
}

.inferior > select {
    width: 13vw;
    margin-right: 4vw;
}

.inferior > p { 
    font-weight:400;
    margin-left:8vw;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.36);
}



.dataWrapper {    
    display:flex;
    flex-direction:row;
    width: 65vw;
    
    margin-top: -12vh;   
    margin-left: 2vw;
}
.data {
    margin-left:4.5vw;
    width: 70vw;
    height: 55vh;
}


.btnProj {
    display: flex;
    align-items: right;
    width: 9vw;
    margin-top: 5vh;
}

.ball {
    height: 25px;
    width:25px;
    border-radius: 25px;
    background-color: pink;
    
}

.theBestWrapper {
    width: 20vw;  
      
}

.theBest {
    margin: 2px 0;
    padding: 3px 2px;    
    align-items: center;
    justify-content: left;
    display:flex;
    cursor: pointer;    
    width: 20vw;
}

.bestInteractionContainer {
    margin-top: 2vh;
    width: 20vw;
}

.bICTitle {
    width: 20vw;  
    padding-top: 2.5vh;  
}

.bICText {
    padding-left: 1vw;
    width: 19vw;
}