//https://fonts.google.com/specimen/DM+Sans?query=dm+sans
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Urbanist;
}

* > h1 {
  font-family: inter;
  font-weight: bold;
  letter-spacing: -2%;
  font-size: 1.5em;
}

* > h2 {
  font-family: inter;
  font-weight: bold;
  letter-spacing: -2%;
  font-size: 1.2em;
}

* > h3 {
  font-family: inter;
  font-weight: bold;
  letter-spacing: -2%;
  font-size: 1em;
}

* > p, ul, ol, input, button, link, option, select, li {
  font-family: inter;
  font-weight: normal;
  letter-spacing: -2%;
  font-size: 0.9em;
}



